<!-- <div class="app-container">
  <header class="app-header">
    <div class="left-controls">
      <img src="assets/indium logo.svg" alt="Logo" class="logo-image">
        <button class="icon-button new-chat" (click)="createNewChat()" title="New Chat">＋</button>
    </div>
  
    <h1>{{title}}</h1>
  
    <theme-toggle></theme-toggle>
  </header>
  

  <main class="app-main">
    <app-history
    *ngIf="showHistory"
    [sessions]="sessions"
    (loadSession)="loadSession($event)">
  </app-history>


  <div class="chat-window-container">
    <app-chat-window
      [messages]="currentMessages"
      (newMessage)="onMessage($event)">
    </app-chat-window>
  </div>
  </main>
</div> -->

<router-outlet></router-outlet>