<div class="main-side-bar">
    <div class="logo-container">
        <img src="assets/indium logo.svg" alt="Logo" class="logo-image ">
    </div>
    <div class="side-bar-controls">
        <div class="nav-item color-white">
            <a class="item" routerLink="/chat" routerLinkActive="active">
                <span class="material-symbols-outlined">smart_toy</span>
                Secondary Research
            </a>
            <a class="item" routerLink="/quantitative-analysis" routerLinkActive="active">
                <span class="material-symbols-outlined">analytics</span>
                Quantitative Analysis
            </a>
            <a class="item" routerLink="/portfolio-optimization" routerLinkActive="active">
                <span class="material-symbols-outlined">tune</span>
                Portfolio Optimization
            </a>
            <a class="item" routerLink="/portfolio-construction" routerLinkActive="active">
                <span class="material-symbols-outlined">dashboard_customize</span>
                Portfolio Construction
            </a>

        </div>
    </div>
</div>